<?xml version="1.0"?>

<config>
    <modules>
        <Digidennis_DimensionIt>
            <version>0.0.1</version>
        </Digidennis_DimensionIt>
    </modules>
    <frontend>
        <events>
            <catalog_product_type_prepare_full_options>
                <observers>
                    <digidennis_dimensionit>
                        <class>digidennis_dimensionit/observer</class>
                        <method>productTypePrepareFullOptions</method>
                    </digidennis_dimensionit>
                </observers>
            </catalog_product_type_prepare_full_options>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <digidennis_dimensionit>
                        <type>model</type>
                        <class>digidennis_dimensionit/observer</class>
                        <method>salesConvertQuoteItemToOrderItem</method>
                    </digidennis_dimensionit>
                </observers>
            </sales_convert_quote_item_to_order_item>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <digidennis_dimensionit before="Mage_Adminhtml">Digidennis_DimensionIt_Adminhtml</digidennis_dimensionit>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <digidennis_dimensionit>
                    <file>Digidennis_DimensionIt.xml</file>
                </digidennis_dimensionit>
            </updates>
        </layout>
        <events>
            <catalog_product_type_prepare_full_options>
                <observers>
                    <digidennis_dimensionit>
                        <class>digidennis_dimensionit/observer</class>
                        <method>productTypePrepareFullOptions</method>
                    </digidennis_dimensionit>
                </observers>
            </catalog_product_type_prepare_full_options>
        </events>
    </adminhtml>
    <global>
        <blocks>
            <digidennis_dimensionit>
                <class>Digidennis_DimensionIt_Block</class>
            </digidennis_dimensionit>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_options_type_select>Digidennis_DimensionIt_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Type_Select</catalog_product_edit_tab_options_type_select>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <digidennis_dimensionit>
                <class>Digidennis_DimensionIt_Model</class>
                <resourceModel>dimensionit_resource</resourceModel>
            </digidennis_dimensionit>
            <dimensionit_resource>
                <class>Digidennis_DimensionIt_Model_Resource</class>
                <entities>
                    <slot>
                        <table>digidennis_dimensionit_slot</table>
                    </slot>
                    <dimension>
                        <table>digidennis_dimensionit_dimension</table>
                    </dimension>
                </entities>
            </dimensionit_resource>
            <catalog>
                <rewrite>
                    <product_type_price>Digidennis_DimensionIt_Model_Product_Type_Price</product_type_price>
                    <product_option_type_select>Digidennis_DimensionIt_Model_Product_Option_Type_Select</product_option_type_select>
                    <product_type_simple>Digidennis_DimensionIt_Model_Product_Type_Simple</product_type_simple>
                </rewrite>
            </catalog>
        </models>
        <helpers>
            <digidennis_dimensionit>
                <class>Digidennis_DimensionIt_Helper</class>
            </digidennis_dimensionit>
        </helpers>
        <resources>
            <digidennis_dimensionit_setup>
                <setup>
                    <module>Digidennis_DimensionIt</module>
                    <class>Digidennis_DimensionIt_Model_Resource_Setup</class>
                </setup>
            </digidennis_dimensionit_setup>
        </resources>
    </global>
</config>